{% extends "./base.html" %}
{% load static %}
{% block title %}BookStore{% endblock %}
{% block content %}


<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="alert alert-info" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation" viewBox="0 0 16 16">
          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
        </svg> COVID-19 - <u>Click here for our latest updates</u> on our stores, website and contact centre. Thank you for
        your patience and support.
         <a href="#" class="alert-link"></a>
      </div>
     
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">Popular Books</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in product %}

        <div class="col">
          <div class="card shadow-sm">
            <div class="w-25 p-3" style="background-color">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}"  width="500" height="500"></div>
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9min read</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}